*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: white;
}
body{
    margin: 0;
    width: 90%;
    margin: auto;
    background-color:rgba(130,80,220,255) ;
    /*rgba(61,9,121,255)*/
    
}

section{
    display: flex;
    flex-direction: row;
    color: white;
    
}

article{
    flex-basis: 50%;
    padding: 4%;
    
}
div{
    padding: 2%;
}
input,select{
    width: 100%;
    color: white;
    border: 1px solid white;
    padding: 1%;
    border-radius: 3px;
    background-color: rgba(160, 140, 185, 0.16);
}
label{
     font-weight: 700;
}
button{
    color: white;
    background-color: #458ea0;
    padding: 1.5%;
    font-weight: 700;
}
article p{
    text-align: center;
    font-weight: 700;
    background-color: rgba(138, 168, 194, 0.16);
    padding: 4%;
    margin-left: 40px;
    margin-right: 40px;
}
form{
    
    background-color: #7c5f9b; 
    padding: 3%;
    border-radius: 4px;
}
#etudiant li{
    background-color:rgba(160, 140, 185, 0.16) ;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
